
<!--  Navbar Ends  -->
<!--  Main Container Starts  -->
<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <div class="rightbar-overlay"></div>
    <!--  Sidebar Starts  -->
    <div class="sidebar-wrapper sidebar-theme">
        <nav id="sidebar">
            <ul class="list-unstyled menu-categories" id="accordionExample">
                <li class="menu">
                    <a href="/Menu" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <i class="las la-home"></i>
                            <span>Menú</span>
                        </div>
                    </a>
                </li>

                <li class="menu">
                    <a href="/Order" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <i class="las la-user-alt"></i>
                            <span>Mi pedido</span>
                        </div>
                    </a>
                </li>


            </ul>
        </nav>
    </div>
    <!--  Sidebar Ends  -->
    <!--  Content Area Starts  -->
    <div id="content" class="main-content" style="
    margin-top: 20px;
">
        <!--  Navbar Starts / Breadcrumb Area  -->
        <div class="sub-header-container">
            <header class="header  navbar-expand-sm">
                <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom">
                    <i class="las la-bars" style="font-size: 24px;"></i>
                </a>
            </header>
        </div> 
        
        <router-outlet />
    
    </div>

</div>
