<div class="layout-px-spacing">                
    <div class="row layout-spacing layout-top-spacing" id="cancel-row">
        <div class="col-lg-12">
            <div class="">
                <div class="widget-content searchable-container grid">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-box">
                                <h5 class="header-title mb-3">Seguimiento del pedido</h5>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <h6 class="mt-0">Orden ID:</h6>
                                            <p>#SK898789</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <h6 class="mt-0">Tracking ID:</h6>
                                            <p>78451245</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="track-order-list">
                                    
                                    <div class="text-center mt-4">
                                        <a (click)="ordenar()" href="#" class="btn btn-sm btn-primary">Ordenar</a>
                                        <a (click)="eliminar()" href="#" class="btn btn-sm btn-primary" style="margin-left: 8px;">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-box order-detail-table">
                                <h5 class="header-title mb-3">Items from Order #SK898789</h5>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-centered mb-0">
                                        <thead class="thead-light">
                                            <tr >
                                                <th>Product name</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let product of carrito.product;index as i;">
                                                <th scope="row">{{product.name}}</th>
                                                <td>{{product.count}}</td>
                                                <td>${{product.price}}</td>
                                                <td>${{product.totalpriceproduct}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="3" class="text-right">Sub Total :</th>
                                                <td><div class="font-weight-bold">{{carrito.total}}</div></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="3" class="text-right">Shipping Charge :</th>
                                                <td>$0</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="3" class="text-right">Estimated Tax :</th>
                                                <td>$0</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="3" class="text-right">Grand Total :</th>
                                                <td><div class="strong text-success-teal">{{carrito.total}}</div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>